{% extends 'base.html' %}
{% block content %}

<h1>Chore List</h1>
<a href="/chores/create">Add a New Chore</a>
{% for chore in chores %}
    <div class="card">
        <a href='{% url "chores_detail" chore.id %}'>
            <div class="card-content">
                <p>Chore: {{ chore.task }}</p>
                <p>Description: {{ chore.description }}</p>
                <p>Points: {{chore.points}} </p>
            </div>
        </a>
        <a href="/user/{{chore.user.username}}">
        </a>
    </div>
{% endfor %}

{% endblock %}
