{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chore app</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header class="navbar fixed">
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Chore App</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/chores">Chore List</a> </li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>Copyright</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
</html>