{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>
<h4>Because kids love chores, I created an app so that kids could have even more fun.</h4>
<p>Sign up, add your kids and put them to work.&nbsp; 
    {% if user.is_authenticated %}
    Click <a href="{% url 'profile' user.username %}"> here </a> to go to your child list. 
    {% endif %}    
</p>
<img class="responsive-img" src="https://d3i6fh83elv35t.cloudfront.net/newshour/app/uploads/2016/04/screaming-child-1024x683.jpg">

{% endblock %}